.header {
  display: flex;
  list-style-type: none;
  background-image: url(header.jpeg);
  background-size: cover;
  object-fit: contain;
  height: 100px;
  width: 100%;
  opacity: 65%;
  border-bottom: 200px;
} */

/* Navbar */
li {
  display: inline;
  padding-left: 50px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: bolder;
  color: white;
  border: 0px;
  position: relative;
  top: 40px;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 2px;
  
}

ul {
  padding: 0;
}

a:hover {
  background-color: white;
  background-blend-mode: overlay;
  color: black;
  border-radius: 4px;
}


* body {
  margin: 0 auto;
  background-color: black;
  font-family: 'Montserrat';
}

/* button {
  position: fixed;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
  border: 0px;
  background-blend-mode: overlay;
} */

#ab {
  width: 130px;
}

.row1_posters,
.row2_posters,
.container, #ab, #c  {
  object-fit: contain;
  display: flex;
  height: 200px;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.first_row {
  display: flex;
  padding-top: 100px;
}

.first_row,
.second_row {
  overflow-x: scroll;
  overflow-y: hidden;
}

.row1_imgs,
.row2_imgs, #ab, #c {
  padding: 10px;
  flex-wrap: wrap;
  height: 200px;
}

.row1_imgs:hover,
.row2_imgs:hover {
  transform: scale(1.1);
  transition: transform 250ms;
  transition: transform 0.8s;
}


.test {
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: gray;
}

h1 {
  margin: 20px;
  color: white;
  background-color: lightblack;
  border-radius: 8px;
  background-blend-mode: overlay;
}

.style1 {
  display: none;
}

#img1_back {
  align-self: center;
  color: white;
  display: none;
  margin-left: 10px;
  display: none;
}

#p,
#p1 {
  display: none;
  color: white;
}

.hidden {
  display: none;
}

.show {
  display: block;
}


@media screen and (max-width: 600px) {
 #p, #p1 {
    color: white;
    /* width: 100px; */
    /* font-size: 10vw !important; */
    /* min-inline-size: fit-content;
    float: right;
    display: block;
    padding: 0; */
    /* max-width: 220px; */
    font-size: 2vw;
    width: 500px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  #p, #p1 {
     color: white;
     /* width: 100px; */
     /* font-size: 10vw !important; */
     /* min-inline-size: fit-content;
     float: right;
     display: block;
     padding: 0; */
     max-width: 220px;
     font-size: 12px;
     display: flex;
     align-items: center;
   }
 }

nav {
  display: flex;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 20px;
}

p {
  max-width: 120px;
  margin: 0;
  font-size: 12px;
  text-align: center;
}
