.header{
   position: fixed;
   display: flex;
 list-style-type: none;
 background-image: url(gummo.jpeg); 
background-size: contain;
object-fit: contain;
height: 100px;
   width:100%;
   opacity: 65%;
 }
ul {
    display: flex;
 list-style-type: none;
}
li {
 overflow-y: 100%;
 padding: 30px 60px 0px 30px;
}
body {
    margin: 0;
}
button {
                    position:fixed;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    border: 0px;
  background-blend-mode: overlay;
}
button:hover  {
    background-color: lightgray;
    background-blend-mode: overlay;
    color: black;
  border-radius:6px;
}
.row1_posters, .row2_posters, .container{
    object-fit: contain;
    display: flex;
    height: 400px;
    max-width: 100%;
    margin-left: 10px;
}
.first_row {
  padding-top: 100px;}
.first_row, .second_row{
    overflow-x: scroll;
    overflow-y: hidden;
}
.row1_imgs, .row2_imgs {
    padding: 10px;
}
.row1_imgs:hover, .row2_imgs:hover {
    transform: scale(1.3);
    transition: transform 250ms; 
    transition: transform 0.8s;
}
body  {
    background-color: black;
}
.test {
    width: 200px;
   display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; 
  background-color: gray;
  color: white;
}
h1 {
    margin:20px;
    color: white;
    font-family: sans-serif;
    background-color: lightblack;
    border-radius: 8px;
  background-blend-mode: overlay;
}
.style1 {
    display: none;
}
#img1_back {
    align-self: center;
    color: white;
    display: none;
        margin-left: 10px;
        display: none;
}
#p, #p1 {
display: none;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

.row1_posters {
  padding: 20px;
}

@media screen and (min-width: 601px) {
  #p, #p1{
    color: white;
    font-size: 1vw !important;
    width: 350px;
  }
}

@media screen and (max-width: 600px) {
  #p, #p1{
     color: white;
    width: 100px;
    font-size: 5vw !important;
    min-inline-size: fit-content;
  }
}







